.banner {
    height: 100vh;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.banner-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.banner-content h1 {
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    font-size: 48px;
    display: inline-block;
}

.banner-content h1 span {
    display: inline-block;
    transition: color 0.1s ease-in-out;
    /* color Transition  */
    opacity: 1;
    /* Initially opaque */
    color: black;
    /* Initially dark */
}

.banner-content h1.animating span {
    animation: bannerAnimation 2s forwards;
}

@keyframes bannerAnimation {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        color: white;
    }
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.btn {
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    color: #e46e26;
    background-color: transparent;
    border: 2px solid #e46e26;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.btn:hover {
    color: #EDC0C0;
    background-color: #e46e26;
}